@media print {
  body {
    padding: 0;
    background-color: #fff; }

  .chrome .newsletter .maincontentarea iframe {
    height: 660px !important; }

  .visible-print {
    display: inherit !important; }

  .visible-print-block,
  .aui .OPPortalLayout .visible-print-block {
    display: block !important; }

  .hidden-print {
    display: none !important; }

  .ie8 .ie8-not-available {
    display: block !important; }

  .ie8 .OPPortalLayout {
    display: none; }

  @page {
    margin: 1.5cm !important; }

  @page :first {
    margin: 1.5cm !important; }

  /* remove link url added by bootstrap */
  .aui a[href]:after {
    content: " " !important; }

  /*search results*/
  .document-info .hidden-xs.list-item:nth-child(2) {
    display: inherit !important; }

  .search-detail iframe {
    page-break-inside: avoid; }

  .op-portal-theme .op-icon-op-bullet-asset:before {
    display: none !important; }

  .op-portal-theme .op-icon-op-bullet-asset:after {
    content: url("../../images/sprites/img/100-1-op-bullet-asset.png") !important; }

  .op-portal-theme .op-icon-op-bullet-bok:before {
    display: none !important; }

  .op-portal-theme .op-icon-op-bullet-bok:after {
    content: url("../../images/sprites/img/100-1-op-bullet-bok.png") !important; }

  .op-portal-theme .op-icon-op-bullet-concept:before {
    display: none !important; }

  .op-portal-theme .op-icon-op-bullet-concept:after {
    content: url("../../images/sprites/img/100-1-op-bullet-concept.png") !important; }

  .op-portal-theme .op-icon-op-bullet-conceptscheme:before {
    display: none !important; }

  .op-portal-theme .op-icon-op-bullet-conceptscheme:after {
    content: url("../../images/sprites/img/100-1-op-bullet-conceptscheme.png") !important; }

  .op-portal-theme .op-icon-op-bullet-cor:before {
    display: none !important; }

  .op-portal-theme .op-icon-op-bullet-cor:after {
    content: url("../../images/sprites/img/100-1-op-bullet-cor.png") !important; }

  .op-portal-theme .op-icon-op-bullet-lex:before {
    display: none !important; }

  .op-portal-theme .op-icon-op-bullet-lex:after {
    content: url("../../images/sprites/img/100-1-op-bullet-lex.png") !important; }

  .op-portal-theme .op-icon-op-bullet-sum-leg:before {
    display: none !important; }

  .op-portal-theme .op-icon-op-bullet-sum-leg:after {
    content: url("../../images/sprites/img/100-1-op-bullet-sum-leg.png") !important; }

  .op-portal-theme .op-icon-op-bullet-ted:before {
    display: none !important; }

  .op-portal-theme .op-icon-op-bullet-ted:after {
    content: url("../../images/sprites/img/100-1-op-bullet-ted.png") !important; }

  .op-portal-theme .op-icon-op-bullet-web-page:before {
    display: none !important; }

  .op-portal-theme .op-icon-op-bullet-web-page:after {
    content: url("../../images/sprites/img/100-1-op-bullet-web-page.png") !important; }

  .op-portal-theme .op-icon-op-bullet-wiw:before {
    display: none !important; }

  .op-portal-theme .op-icon-op-bullet-wiw:after {
    content: url("../../images/sprites/img/100-1-op-bullet-wiw.png") !important; }

  .op-portal-theme .op-icon.op-icon-less:before {
    display: none !important; }

  .op-portal-theme .op-icon.op-icon-less:after {
    content: url("../../images/sprites/img/100-1-less.png") !important; }

  .op-portal-theme .op-icon.op-icon-more:before {
    display: none !important; }

  .op-portal-theme .op-icon.op-icon-more:after {
    content: url("../../images/sprites/img/100-1-more.png") !important; }

  /*@page {size: portrait;}*/
  /** force xs layout on print */
  .col-xs-12 {
    width: 100% !important; }

  .col-xs-11 {
    width: 91.66666667% !important; }

  .col-xs-10 {
    width: 83.33333333% !important; }

  .col-xs-9 {
    width: 75%; }

  .col-xs-8 {
    width: 66.66666667% !important; }

  .col-xs-7 {
    width: 58.33333333% !important; }

  .col-xs-6 {
    width: 50% !important; }

  .col-xs-5 {
    width: 41.66666667% !important; }

  .col-xs-4 {
    width: 33.33333333% !important; }

  .col-xs-3 {
    width: 25% !important; }

  .col-xs-2 {
    width: 16.66666667% !important; }

  .col-xs-1 {
    width: 8.33333333% !important; }

  .col-xs-pull-12 {
    right: 100% !important; }

  .col-xs-pull-11 {
    right: 91.66666667% !important; }

  .col-xs-pull-10 {
    right: 83.33333333% !important; }

  .col-xs-pull-9 {
    right: 75% !important; }

  .col-xs-pull-8 {
    right: 66.66666667% !important; }

  .col-xs-pull-7 {
    right: 58.33333333% !important; }

  .col-xs-pull-6 {
    right: 50% !important; }

  .col-xs-pull-5 {
    right: 41.66666667% !important; }

  .col-xs-pull-4 {
    right: 33.33333333% !important; }

  .col-xs-pull-3 {
    right: 25% !important; }

  .col-xs-pull-2 {
    right: 16.66666667% !important; }

  .col-xs-pull-1 {
    right: 8.33333333% !important; }

  .col-xs-pull-0 {
    right: 0% !important; }

  .col-xs-push-12 {
    left: 100% !important; }

  .col-xs-push-11 {
    left: 91.66666667% !important; }

  .col-xs-push-10 {
    left: 83.33333333% !important; }

  .col-xs-push-9 {
    left: 75%; }

  .col-xs-push-8 {
    left: 66.66666667% !important; }

  .col-xs-push-7 {
    left: 58.33333333% !important; }

  .col-xs-push-6 {
    left: 50% !important; }

  .col-xs-push-5 {
    left: 41.66666667% !important; }

  .col-xs-push-4 {
    left: 33.33333333% !important; }

  .col-xs-push-3 {
    left: 25% !important; }

  .col-xs-push-2 {
    left: 16.66666667% !important; }

  .col-xs-push-1 {
    left: 8.33333333% !important; }

  .col-xs-push-0 {
    left: 0% !important; }

  .col-xs-offset-12 {
    margin-left: 100% !important; }

  .col-xs-offset-11 {
    margin-left: 91.66666667% !important; }

  .col-xs-offset-10 {
    margin-left: 83.33333333% !important; }

  .col-xs-offset-9 {
    margin-left: 75% !important; }

  .col-xs-offset-8 {
    margin-left: 66.66666667% !important; }

  .col-xs-offset-7 {
    margin-left: 58.33333333% !important; }

  .col-xs-offset-6 {
    margin-left: 50% !important; }

  .col-xs-offset-5 {
    margin-left: 41.66666667% !important; }

  .col-xs-offset-4 {
    margin-left: 33.33333333% !important; }

  .col-xs-offset-3 {
    margin-left: 25% !important; }

  .col-xs-offset-2 {
    margin-left: 16.66666667% !important; }

  .col-xs-offset-1 {
    margin-left: 8.33333333% !important; }

  .col-xs-offset-0 {
    margin-left: 0% !important; } }