


.logo-research-professional-primary-reversed-mono {
    background-image: url('png/research-professional-primary-reversed-mono.7850b0f2.png');
}





.logo-research-secondary-reversed {
    background-image: url('png/research-secondary-reversed.06f22198.png');
}





.logo-twenty-years-reversed {
    background-image: url('png/twenty-years-reversed.24497d3d.png');
}


