/* CSS Document EPI*/

/* Padding y margin */


ul,li {
margin: 0;
padding: 0;
}


body {
 margin-top:0;
 margin-left:75px;
 margin-right:0;
 margin-bottom:30px;
 background: #c0c0c0;
 color: #000;
 text-align:left;
 padding:0;
 }
 
 
A	        { color: #ff0101; text-decoration: underline; font-weight: normal; }
A:link	  { color: #ff0101; text-decoration: underline; font-weight: normal; }
A:visited	{ color: #ff0101; text-decoration: underline; font-weight: normal; }
A:active	{ color: #ff0101;  }
A:hover 	{ color: #ff0101;  }

a.equipo {font-weight:bold;}


#container {
 background:#FFFFFF;
 border-top:0;
 border-right:1px solid #ff0101;
 border-bottom:1px solid #ff0101;
 border-left:1px solid #ff0101;
 width:990px;
 overflow-x:hidden;

 margin-left:auto;
 margin-right:auto;
 margin-top:0;
 margin-bottom:30px;
  }
 
 #cuerpo {
 float:left;
 width:700px;
 color: #000;
 MARGIN-LEFT:25px;
 text-align:justify;
 padding-top:25px;
 
 }
 
  #cuerpo2 {
 float:left;
 width:900px;
 color: #000;
 MARGIN-LEFT:25px;
 text-align:justify;
 padding-top:25px;
 
 }
 

 #cab {
 background: #fff;
 height:86px;
 color: #000;
 border:0;
  }
 
 #cab2 {
 background: #E60002;
 height:127px;
 color: #000;
 border:0;

 
 }
 
html>body #cab2 {
 background: #E60002;
 height:136px;
 color: #000;
 border:0;
 
 }
 

#bar {
 height:1px;
 background:#000;
 color: #000;
 border:0;
 }

#foncon {
 position:relative;
 color: #000;
 width:100%;
 padding:0;
 }
 
 #der {
 width:70%;
 color: #000;
 border-top:1px dotted #000;
 border-bottom:0;
 border-left:1px dotted #000;
 border-right:0;
 text-align:justify;
 }
.izq {
 float:left;
 color:#000;
 padding:5px;
 width:240px;
 text-align:left;
  }
 

#center {
 width:550px;
 float:center;
 color:#000;
 border-bottom:0;
 border-left:1px dotted #000;
 border-right:0;
 text-align:justify;
   }
  
 html>body #center {
 width:inherit;
 color:#000;
 border-bottom:0;
 border-left:1px dotted #000;
 border-right:0;
 text-align:left;
  }
 

.der {
 float:right;
 width:180px;
 color:#000;
 padding:4px;
 border-right:0px;
 text-align:left;
 }
 
 
 #sumario1 {
 width:80%;
 margin-left:1%;
 margin-right:1%;
 margin-top: 5px;
 margin-bottom: 9px;
 }
 
 #sumario1 p {
 font-size:x-small;
 }
 

  .titulo_sumario {
 width:80%;
 color:#ff0101;
 text-align:left;
 font-size:medium;
 font-weight:bold;
 font-family:verdana, sans-serif;
  }
 
 
 .titulo {
 width:80%;
 color:#ff0101;
 text-align:left;
 font-size:medium;
 font-weight:bold;
 font-family:verdana, sans-serif;
 margin-top:5px;
 margin-bottom:20px;
 border-right:4px solid #000;
 border-bottom:1px solid #000;
 }
 
 .fasciculo {
 font-size:small;
  color:#666;
 }
 
 .catorze {
 color:#000;
 text-align:center;
 font-size:xx-small;
 font-family:verdana, sans-serif;
 padding:0;
 margin-right:7%;
 }

 
 .menu li{
 list-style:none;
 float:left;
 color:#000;
 padding top:10px;
 background:#E60002;
 color:#000;
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 font-variant:normal;
 letter-spacing:2px;
 margin-left:5px;

 
 }
 
 .menu li A	        { display:block; color: #FFFFFF; text-decoration: none; font-weight: normal; }
 .menu li A:link	  { color: #FFFFFF; text-decoration: none; font-weight: normal; }
 .menu li A:visited	{ color: #FFFFFF; text-decoration: none; font-weight: normal; }
 .menu li A:active { color: #FFFFFF; text-decoration: none; font-weight: normal; }
 .menu li :hover { background: #000; color: #E60002; text-decoration: none; font-weight: normal; }
 
 .Estilo3 {
 color:#000000; 
 cursor:pointer; 
 font-family: tahoma, verdana, sans-serif;
 padding:0px;
 font-variant:small-caps;
 letter-spacing:2px;
 border-bottom:3px solid #fff;
 }
 
 .title {
 font-family:tahoma, verdana, sans-serif;
 color:#FFFFFF;
 background:#000000;
 font-variant:small-caps;
 font-size:15px;
 }
 

 
 
 p {
 margin:0 15px 0 10px;
 padding:5px;
 font-family: verdana, arial, sans-serif;
 font-size:small;
 }

 p.form {
 margin:0;
 padding:15px;
 font-family: verdana, arial, sans-serif;
 font-size:x-small;
 }
 
 p.mini {
 margin:0;
 padding:15px;
 font-family: verdana, arial, sans-serif;
 font-size:7pt;
 }
 
 p.nota {
 margin:0;
 padding:25px;
 font-family: verdana, arial, sans-serif;
 font-size:x-small;
 }
 
 p.seccion {
 color:#ff0101;
 font-weight:bold;

 }
 
 blockquote {
 font-family: verdana, arial, sans-serif;
 font-size:x-small;
 padding:25px;
 }
 
 
 
 ol {
 font-family: verdana, arial, sans-serif;
 font-size:small;
 list-style-type:decimal;
 
 }
 
  ul {
 font-family: verdana, arial, sans-serif;
 font-size:small;
 list-style-type:inherit;
 margin-left:5px;
 margin-right:0px;
 text-align:justify;
 }
 
 li {
 font-family: verdana, arial, sans-serif;
 font-size:small;
 list-style-type:disc;
  }
 
 li.letras {
 font-family: verdana, arial, sans-serif;
 font-size:small;
 list-style-type:lower-alpha;
 }
 
 li.num {
 font-family: verdana, arial, sans-serif;
 font-size:small;
 list-style-type:decimal;
 margin-right:10px;
 }

 li.listarticulos {
 font-family: verdana, arial, sans-serif;
 font-size:small;
 list-style-type: none;
 margin-right:10px;
 }
 li.listarticulos A	        { #000; text-decoration: none; font-weight: normal; }
 li.listarticulos A:link	  { color: #000; text-decoration: none; font-weight: normal; }
 li.listarticulos A:visited	{ color: #000; text-decoration: none; font-weight: normal; }
 li.listarticulos A:active { color: #000; text-decoration: none; }
 li.listarticulos A:hover { color: #000; text-decoration: none; }
 
 
 h2, h3 {
 margin:0;
 padding:15px;
 font-family:verdana, arial, sans-serif;
 }
 
 h4 {
 margin:0; 
 padding: 5px 0;
 }
 
 center {
 font-family:verdana, arial, sans-serif;
 }
 
  table {
 font-family:verdana, arial, sans-serif;
 font-size:x-small;
 text-indent:7px;
 margin-bottom:5px;
 }

 
 img.borde {
 border:1px solid #000;
  }
 
  
 img.menu {
 float:none;
 border:0;
 margin-right:7px;
 margin-left:0;
 }
 
 
 img.flota {
 float:right;
 border:0;
 margin-right:0;
 margin-left:7px;
 }
 
 img.flotaiz {
 float:left;
 border:0;
 margin-right:7px;
 margin-left:0;
 }
 
 img.baja {
 float:none;
 border:0;
 padding:20px;
 }

 .anuncio {
 position:absolute;
 top:20px;
 right:0;
 font-size:7pt;
 width:150px;
 padding:10px;
 border-left: 1px dotted #ff0101;
 border-bottom: 1px dotted #ff0101;
 font-family: verdana, arial, sans-serif;
 }
 
 .sangra {
 margin-left:30px;
 }
 
 .sangra a {
 font-weight:bold;
 }
 
 .cuadro {
 margin:45px;
border:1px dotted #c0c0c0;
 }
 
.cuadro p {
padding:5px;
font-size:x-small;
 }

 .abstract {
 margin:20px 35px;
border:1px dotted #c0c0c0;
 }
 
.abstract p {
padding:5px;
font-size:small;
 }
 

 
.publicidad {
border:1px solid #000;
width:80%;
height:120px;
 }
 
 .tpublicidad {
padding:5px;
font-size:small;
font-family:verdana, sans-serif;
 }
 
  .tpublicidad1 {

font-size:small;
font-family:verdana, sans-serif;
padding-right:20px;
padding-bottom:5px;
 }
 
 .publicidad  img {
 /*padding-left:5px;*/
 border:0;
 }
 
 .impacto {
border:1px solid #000;
width:80%;
height:181px;
 }
 
 .timpacto {
padding:2px;
font-size:small;
font-family:verdana, sans-serif;
 }
 
 .impacto  img {
 padding-left:5px;
 padding-right:5px;
 border:0;
 }
 

#footer {
	list-style:none;
	width:990px;
	height:90px;
	margin:auto;
	background:#323232;
	color:#FFF;
	position:relative;
	float:left;
	overflow-x:hidden;	
}

#footer ul{
	list-style:none;
	width:900px;
	position:absolute;
	left:11px;
	top:27px;
	float:left;
		
}

#footer ul li{
	list-style:none;
	float:left;
	color:#D4D4C6;
	background-color:inherit;
	font:normal 11px/19px Arial, Helvetica, sans-serif;
	
}

#footer ul li a{
	color:#D4D4C6;
	background-color:inherit;
	font:normal 11px/19px Arial, Helvetica, sans-serif;
	padding:0 7px;
	text-decoration:none;
}
#footer ul li a:hover{
	color:#D4D4C6;
	background-color:#888888;
}
#footer p.copyright{
	font:normal 10px/12px Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	background-color:inherit;
	position:absolute;
	left:20px;
	top:53px;
	width: 468px;
	height: 23px;
}
#footer a.subscribe{
	background:url(images/subscribe_icon.gif) 0 2px no-repeat;
	font:normal 11px/12px Arial, Helvetica, sans-serif;
	color:#B9B99D;
	background-color:inherit;
	position:absolute;
	left:19px;
	top:68px;
	text-decoration:underline;
	width:50px;
	padding:0 0 0 18px;
}
#footer a.subscribe:hover{
	color:#9CCC37;
	background-color:inherit;
	text-decoration:none;
}
#footer a.xht{
	width:98px;
	height:20px;
	background:url(images/xhtml_bg.gif) 0 0 no-repeat;
	position:absolute;
	left:757px;
	top:23px;
}
#footer a.xht:hover{
	background:url(images/xhtml_bg_hover.gif) 0 0 no-repeat;
}
#footer a.cs{
	width:98px;
	height:20px;
	background:url(images/css_bg.gif) 0 0 no-repeat;
	position:absolute;
	left:866px;
	top:23px;
}
#footer a.cs:hover{
	background:url(images/css_bg_hover.gif) 0 0 no-repeat;
}
#footer img{
	position:absolute;
	left:840px;
	width:130px;
	height:84px;
	}

#footer p.design{
	font:bold 12px/19px Arial, Helvetica, sans-serif;
	color:#C5BE25;
	background-color:inherit;
	position:absolute;
	left:19px;
	top:85px;
}
#footer p.design a{
	color:#FFFFFF; background-color:inherit; text-decoration:none;
	}
#footer p.design a:hover{
	color:#C5BE25; background-color:inherit;
	}
 
 #address {display: none;}

 
