 /*SITE SPECIFIC CSS*/

.featurePanel {
	background-color: #E9B4AC;
}
.navbar {
	background-color: #a01234;
}
.featurePanel .featurePanelInner {
	background-color: #CF1844;
}
.featurePanel p {
	color: #f6f6f6 !important;
}
.featurePanel h3 {
	color: #f6f6f6 !important;
}
.featurePanel a {
	color: #f6f6f6 !important;
}
.featurePanel a:hover {
	color: #f6f6f6 !important;
}
.journal-bg {
	background-color: #CF1844;
}
.journal-header .journal-logo {
	width: 455px;	 
}
.journal-header .society-logo {
	width: 160px;
}
.journal-header .center-inner-row {
	padding-bottom: 10px;
	padding-top: 10px;
}
.journal-footer.journal-bg {
	background-color: #CF1844;
}
img.journal-footer-affiliations-logo {
	width: 330px;
}
#cloudCMS .panels .widget-dynamic-title::after, #cloudCMS .panels .widgetHead h3::after, #cloudCMS .rowHead h3::after{
	background-color: #CF1844;
}
#cloudCMS .row:nth-child(4):not(.relatedJournals) {
	background-color: #a01234;
}
#cloudCMS .row:nth-child(4):not(.relatedJournals) .rowHead h3 {
	color: #ffffff;
}
#cloudCMS .row:nth-child(4):not(.relatedJournals) .rowHead h3::after {
	background-color: #ffffff;
}