 /*SITE SPECIFIC CSS*/

.featurePanel {
	background-color: #118187;
}
.navbar {
	background-color: #333333;
}
.featurePanel .featurePanelInner {
	background-color: #333333;
}
.featurePanel p {
	color: #f6f6f6 !important;
}
.featurePanel h3 {
	color: #f6f6f6 !important;
}
.featurePanel a {
	color: #f6f6f6 !important;
}
.featurePanel a:hover {
	color: #f6f6f6 !important;
}
.journal-bg {
	background-color: #118187;
}
.journal-header .journal-logo {
	width: 210px;
}
.journal-header .center-inner-row {
	padding-bottom: 20px;
}	
img.journal-footer-affiliations-logo {
	width: 200px;
}
.journal-footer.journal-bg {
	background-color: #333333;
}

#cloudCMS .panels .widget-dynamic-title::after, #cloudCMS .panels .widgetHead h3::after, #cloudCMS .rowHead h3::after{
	background-color: #118187;
}
#cloudCMS .row:nth-child(4):not(.relatedJournals) {
	background-color: #118187;
}
#cloudCMS .row:nth-child(4):not(.relatedJournals) .rowHead h3 {
	color: #ffffff;
}
#cloudCMS .row:nth-child(4):not(.relatedJournals) .rowHead h3::after {
	background-color: #ffffff;
}