
/* ::::: http://muse.jhu.edu/journals/css/muse4.css ::::: */

copyright-block { font-size: 13px; font-family: arial,helvetica,sans-serif; font-weight: bold; margin: 5px 0px 20px; }
a.no-underline { text-decoration: none; }
copyright-block-image { border: 1px solid rgb(0, 0, 0); vertical-align: middle; }
a { color: rgb(102, 0, 102); }
a:visited { color: rgb(41, 111, 132); }
a:active { color: rgb(102, 0, 51); }
p.endText, .endText td { font-size: 10pt; text-indent: 0pt; }
hr.beginText { margin-top: 30pt; margin-bottom: 20pt; margin-left: 0pt; }
hr.endText { margin-top: 30pt; margin-bottom: 20pt; margin-left: 0pt; }
blockquote.extractEndText { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; margin-left: 65pt; margin-right: 65pt; }
blockquote.poetryEndText { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; margin-left: 65pt; margin-right: 65pt; }
p.blockquoteEndText { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; font-weight: normal; text-indent: 0pt; margin-left: 0pt; margin-right: 0pt; }
div.attributionEndText { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; text-align: left; margin-left: 250pt; margin-right: 65pt; }
h5 { font-family: "arial","sans-serif","helvetica"; font-weight: 700; margin-left: 0pt; margin-right: 0pt; }
h5.copyrightInclude { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; font-weight: 700; margin-left: 0pt; margin-right: 0pt; }
body { background-color: rgb(255, 255, 255); }
.center { text-align: center; }
.right { text-align: right; }
small { font-size: 75%; }
small.caps { font-variant: small-caps; font-size: 85%; }
span.underline { text-decoration: underline; }
span.line-through { text-decoration: line-through; }
pre { font-family: "arial","sans-serif","helvetica"; }
p { font-family: "arial","sans-serif","helvetica"; text-indent: 15pt; margin-left: 15pt; }
p.noIndent { font-family: "arial","sans-serif","helvetica"; text-indent: 0pt; margin-left: 15pt; }
div.beginText { margin-top: 30pt; margin-bottom: 20pt; margin-left: 0pt; font-size: 12pt; border-style: solid; border-width: 1px 0px 0px; }
div.endText { margin-bottom: 20pt; margin-left: 0pt; font-size: 10pt; border-style: solid; border-width: 1px 0px 0px; }
div.character { font-family: "arial","sans-serif","helvetica"; font-size: 75%; text-indent: 0pt; text-align: left; margin-left: 55pt; margin-top: 20pt; margin-bottom: -5pt; }
div.dialog { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; text-indent: 0pt; text-align: left; margin-left: 95pt; margin-right: 95pt; margin-top: 10pt; }
div.stageDirection { font-family: "arial","sans-serif","helvetica"; font-size: 12pt; text-indent: 0pt; text-align: left; margin-left: 0pt; margin-top: 40pt; margin-bottom: 40pt; }
div.indent { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; text-align: left; margin: 10pt 65pt; }
div.permissionDenied { font-family: "arial","sans-serif","helvetica"; font-size: 18pt; text-align: center; text-indent: 0pt; margin: 10pt 65pt; }
div.permissionDeniedImage { font-family: "arial","sans-serif","helvetica"; font-size: 11pt; font-weight: 700; text-align: left; text-indent: 0pt; margin: 10pt 65pt 10pt 0pt; }
div.sidebar { font-family: "arial","sans-serif","helvetica"; font-size: 12pt; text-align: left; margin: 10pt 0pt; }
ol.decimal { font-family: "arial","sans-serif","helvetica"; margin-top: 10pt; margin-bottom: 0pt; margin-left: 55pt; list-style-position: outside; list-style-type: decimal; }
ol.decimal2 { font-family: "arial","sans-serif","helvetica"; margin-top: 10pt; margin-bottom: 0pt; margin-left: 0pt; list-style-position: outside; list-style-type: decimal; }
ol.lroman { font-family: "arial","sans-serif","helvetica"; margin-top: 10pt; margin-bottom: 0pt; margin-left: 55pt; list-style-position: outside; list-style-type: lower-roman; }
ol.lroman2 { font-family: "arial","sans-serif","helvetica"; margin-top: 10pt; margin-bottom: 0pt; margin-left: 0pt; list-style-position: outside; list-style-type: lower-roman; }
ol.uroman { font-family: "arial","sans-serif","helvetica"; margin-top: 10pt; margin-bottom: 0pt; margin-left: 55pt; list-style-position: outside; list-style-type: upper-roman; }
ol.uroman2 { font-family: "arial","sans-serif","helvetica"; margin-top: 10pt; margin-bottom: 0pt; margin-left: 0pt; list-style-position: outside; list-style-type: upper-roman; }
ol.lalpha { font-family: "arial","sans-serif","helvetica"; margin-top: 10pt; margin-bottom: 0pt; margin-left: 55pt; list-style-position: outside; list-style-type: lower-alpha; }
ol.lalpha2 { font-family: "arial","sans-serif","helvetica"; margin-top: 10pt; margin-bottom: 0pt; margin-left: 0pt; list-style-position: outside; list-style-type: lower-alpha; }
ol.ualpha { font-family: "arial","sans-serif","helvetica"; margin-top: 10pt; margin-bottom: 0pt; margin-left: 55pt; list-style-position: outside; list-style-type: upper-alpha; }
ol.ualpha2 { font-family: "arial","sans-serif","helvetica"; margin-top: 10pt; margin-bottom: 0pt; margin-left: 0pt; list-style-position: outside; list-style-type: upper-alpha; }
ul.disk { font-family: "arial","sans-serif","helvetica"; margin-top: 10pt; margin-bottom: 0pt; margin-left: 55pt; list-style-position: outside; list-style-type: disk; }
ul.disk2 { font-family: "arial","sans-serif","helvetica"; margin-top: 10pt; margin-bottom: 0pt; margin-left: 0pt; list-style-position: outside; list-style-type: disk; }
li { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; margin-bottom: 10pt; }
h4.sectionHead { font-family: "arial","sans-serif","helvetica"; font-size: 11pt; font-weight: 700; margin-left: 0pt; text-align: left; }
h2.title { font-family: "arial","sans-serif","helvetica"; font-size: 20pt; text-align: left; margin-left: 0pt; font-weight: 700; }
h2.subtitle { font-family: "arial","sans-serif","helvetica"; margin-left: 0pt; margin-top: -18pt; text-align: left; font-size: 16pt; font-weight: 700; }
h3.byline { font-family: "arial","sans-serif","helvetica"; font-size: 16pt; text-align: left; margin-left: 0pt; margin-top: 10pt; font-weight: 700; }
h3.bylineMulti { font-family: "arial","sans-serif","helvetica"; font-size: 16pt; text-align: left; margin-left: 0pt; margin-top: -15pt; font-weight: 700; }
h3.bylineRT { font-family: "arial","sans-serif","helvetica"; font-size: 12pt; text-align: right; font-weight: normal; }
h3.bylineRTMulti { font-family: "arial","sans-serif","helvetica"; font-size: 12pt; text-align: right; margin-top: -13pt; font-weight: normal; }
h3.aHead { font-family: "arial","sans-serif","helvetica"; font-size: 16pt; text-align: left; margin-left: 0pt; margin-top: 25pt; margin-bottom: -10pt; font-weight: 700; }
h3.poetryTitle { font-family: "arial","sans-serif","helvetica"; font-size: 12pt; text-align: left; margin-left: 0pt; margin-top: 30pt; margin-bottom: 0pt; font-weight: 700; }
h3.aHeadPoetry { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; text-align: left; margin-left: 0pt; margin-top: 20pt; margin-bottom: 0pt; font-weight: 700; }
h3.aHeadExtract { font-family: "arial","sans-serif","helvetica"; font-size: 12pt; text-align: left; margin-left: 0pt; margin-bottom: 0pt; font-weight: 700; }
h4.bHead { font-family: "arial","sans-serif","helvetica"; font-size: 13pt; text-align: left; margin-left: 0pt; margin-top: 25pt; margin-bottom: -10pt; font-weight: 700; }
h5.cHead { font-family: "arial","sans-serif","helvetica"; font-size: 12pt; font-style: italic; text-align: left; margin-left: 0pt; margin-top: 25pt; margin-bottom: -10pt; }
h6.dHead { font-family: "arial","sans-serif","helvetica"; font-size: 12pt; text-align: left; margin-left: 35pt; margin-top: 25pt; margin-bottom: -10pt; }
h6.eHead { font-family: "arial","sans-serif","helvetica"; font-size: 12pt; font-style: italic; text-align: left; margin-left: 35pt; margin-bottom: -5pt; }
h6.fHead { font-family: "arial","sans-serif","helvetica"; font-size: 12pt; text-align: left; margin-left: 35pt; margin-bottom: -5pt; }
h3.acknowledgement { font-family: "arial","sans-serif","helvetica"; font-size: 16pt; text-align: left; margin-left: 0pt; margin-bottom: -10pt; font-weight: 700; }
h3.appendix { font-family: "arial","sans-serif","helvetica"; font-size: 16pt; text-align: left; margin-left: 0pt; margin-bottom: -10pt; font-weight: 700; }
h3.notes { font-family: "arial","sans-serif","helvetica"; font-size: 16pt; text-align: left; margin-left: 0pt; margin-bottom: -10pt; font-weight: 700; }
h3.references { font-family: "arial","sans-serif","helvetica"; font-size: 16pt; text-align: left; margin-left: 0pt; margin-bottom: -10pt; font-weight: 700; }
blockquote.epigraph { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; margin-left: 65pt; margin-right: 65pt; }
blockquote.extract { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; margin-left: 65pt; margin-right: 65pt; }
blockquote.extract2 { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; margin-left: 15pt; margin-right: 0pt; }
blockquote.poetry { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; margin-left: 65pt; margin-right: 65pt; }
blockquote.poetry2 { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; margin-left: 15pt; margin-right: 0pt; }
p.blockquote { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; font-weight: normal; text-indent: 0pt; margin-left: 0pt; margin-right: 0pt; }
div.dedication { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; text-align: right; margin-left: 250pt; margin-right: 65pt; }
div.abstract { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; margin: 30pt 65pt; }
div.keywords { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; margin: -20pt 65pt 30pt; }
div.keywords2 { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; margin: 30pt 65pt; }
div.nomenclature { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; margin: -20pt 65pt 30pt; }
div.bibliographic { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; font-weight: bold; margin: 10pt 65pt; }
div.affiliation { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; font-style: italic; margin: -16pt 250pt 10pt 0pt; }
div.affiliation2 { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; font-style: italic; margin: -10pt 400pt 10pt 0pt; }
div.affiliationRT { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; font-style: italic; margin-top: -10pt; margin-right: 0pt; margin-left: 250pt; text-align: right; }
div.contact { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; font-style: italic; margin: -16pt 250pt 10pt 0pt; }
div.contact2 { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; font-style: italic; margin-top: 10pt; margin-left: 15pt; margin-right: 250pt; text-align: left; }
div.contactRT { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; font-style: italic; margin-top: -10pt; margin-right: 0pt; margin-left: 250pt; text-align: right; }
div.contactRT2 { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; font-style: italic; margin-top: 10pt; margin-right: 0pt; margin-left: 250pt; text-align: right; }
div.translator { font-family: "arial","sans-serif","helvetica"; font-size: 12pt; margin: 0pt 250pt 15pt 0pt; }
div.translatorRT { font-family: "arial","sans-serif","helvetica"; font-size: 12pt; text-align: right; font-weight: normal; margin-top: 5pt; margin-bottom: 10pt; margin-left: 250pt; }
div.attribution { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; text-align: right; margin-left: 250pt; margin-right: 65pt; }
div.authbio { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; text-indent: 0pt; margin-top: 10pt; margin-bottom: 10pt; margin-left: 15pt; }
div.permission { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; text-indent: 0pt; margin-top: 10pt; margin-bottom: 10pt; margin-left: 15pt; }
div.received { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; text-align: left; margin-top: 10pt; margin-left: 15pt; margin-right: 0pt; }
div.copyright { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; text-indent: 0pt; margin-top: 10pt; margin-bottom: 10pt; margin-left: 15pt; }
.captionFigure { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; margin-top: 10pt; margin-bottom: 10pt; }
.captionTable { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; margin-top: 10pt; margin-bottom: 10pt; }
.captionExample { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; margin-top: 10pt; margin-bottom: 10pt; }
.captionIllustration { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; margin-top: 10pt; margin-bottom: 10pt; }
table.thumbnail { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; margin: 20pt 30pt; width: 90%; }
td.thumbnail { font-family: "arial","sans-serif","helvetica"; text-align: center; font-size: 10pt; width: 10%; padding: 10pt; }
tr.thumbnail { font-family: "arial","sans-serif","helvetica"; vertical-align: middle; }
td { font-family: "arial","sans-serif","helvetica"; }
tr { font-family: "arial","sans-serif","helvetica"; }
div.thumbnail { font-family: "arial","sans-serif","helvetica"; margin: 10pt 20pt; }
div.thumbnail2 { font-family: "arial","sans-serif","helvetica"; margin: 10pt 20pt 10pt -50pt; }
table.basic2 { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; margin: 10pt 0pt; }
table.basic { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; margin: 10pt 0pt 10pt 45pt; }
td.basic { font-family: "arial","sans-serif","helvetica"; padding-right: 20pt; vertical-align: top; }
td.basicMiddle { font-family: "arial","sans-serif","helvetica"; padding-right: 20pt; vertical-align: middle; }
td.basicBottom { font-family: "arial","sans-serif","helvetica"; padding-right: 20pt; vertical-align: bottom; }
td.basicCenter { font-family: "arial","sans-serif","helvetica"; padding-right: 20pt; text-align: center; }
td.basicRight { font-family: "arial","sans-serif","helvetica"; padding-right: 20pt; text-align: right; }
tr.basic { font-family: "arial","sans-serif","helvetica"; vertical-align: top; }
tr.basicMiddle { font-family: "arial","sans-serif","helvetica"; vertical-align: middle; }
tr.basicBottom { font-family: "arial","sans-serif","helvetica"; vertical-align: bottom; }
img { padding: 0pt; }
img.top { vertical-align: text-top; padding: 0pt; }
img.bottom { vertical-align: text-bottom; padding: 0pt; }
img.floatLeft { float: left; padding: 10pt 10pt 5pt 0pt; }
img.floatRight { float: right; padding: 10pt 5pt 10pt 0pt; }
blockquote { font-family: "arial","sans-serif","helvetica"; font-size: 10pt; margin-left: 65pt; margin-right: 65pt; }
ol { font-family: "arial","sans-serif","helvetica"; margin-top: 10pt; margin-bottom: 10pt; margin-left: 55pt; list-style-position: outside; list-style-type: decimal; }
ul { font-family: "arial","sans-serif","helvetica"; margin-top: 10pt; margin-bottom: 10pt; margin-left: 55pt; list-style-position: outside; list-style-type: disk; }
hr { margin-left: 15pt; margin-right: 0pt; }
#copyright { display: block; padding: 0px; width: 100%; font: 700 10pt arial,helvetica,sans-serif; margin: 0px 0px 20px; }
#copyright img { border: 1px solid; vertical-align: middle; }
