@import '../../fonts/style.css';
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

body {
	font-size:1.2em;
        font-family: Raleway, Georgia, serif;
	background:#FBF9FC;
	text-align:justify;
}

#header {
	background-image: url("estsheader.png");
	background-repeat: no-repeat;
	background-size: 100%;
	padding-top:22%;
}

#header h1 {
	text-align:center;
	#color: rgb(149,202,208);
	color:#EEEEFF;
	font-size:2.0em;
	font-weight:500;
	padding:15px;
	text-transform:none;
        font-family: Raleway, Georgia, serif;
}

p, li {
	text-align:justify;
	font-size:1.0em;
	font-family: Raleway, Georgia, serif;
}

#main h1, #main h2, #main h3, #main h4 {
        font-size:1.2em;
        font-family: Raleway, Georgia, serif;
}

div.block p, div.block li {
	text-align:left;
}

#navbar {
	padding-top: 0.5em;
	padding-bottom: 1em;
	font-size:.9em;
}

.menu li {
	font-size:1.1em;
	font-weight:bold;
}

.menu #announcements {
	display: none;
}

a.file {
	text-decoration:none;
	border:1px solid #006699;
	padding:2px;
	margin-bottom:2px;
}

.tocPages {
	padding-top:3px;
}

#content {
	border-top:none;
}
