.pager-bar,
.pager-barp,
.marked-list-pager,
.article-pager {
   margin: 10px 0 0 0;
   overflow: hidden;
   padding: 2px 10px 10px 0;
   position: relative;
	width: auto;
}
.pager-bar .left-colp {
	float: left;
   position: relative;
   width: 69%;
	z-index: 99;
}
.pager-bar .right-col {
   margin-left: 20px;
   position: relative;
	text-align: right;
   top: -2px;
}
.marked-list-pager .left-col {
   float: left;
   margin-top: 11px;
   position: relative;
	width: 20%;
}
.marked-list-pager .right-col {
   float: right;
   position: relative;
	width: 78%;
}
.article-pager li.spacer { margin: 0 5px 0 5px; }
